# Environment & Secrets
.env
*.env.*

# Java / Spring Boot / Maven / Gradle
target/
build/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# IDEs & Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Eclipse / NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Node.js / Next.js
node_modules/
.next/

# Python / AI
__pycache__/
.venv/
*.pt
*.onnx
ai/data/*
!ai/data/.gitkeep
ai/models/*
!ai/models/.gitkeep

# Firmware
.pio/

# System & Media
.DS_Store
Thumbs.db
*.mp4